.u-section-padding {
  padding: 15rem 0;
  // responsive
}
.u-blockquote {
  border-left: 2px solid;
  padding: 1rem 1.5rem 1rem 3.5rem;
  margin: 2.5rem 0;
  font-size: 1.8rem;
  line-height: 1.6;
}
.u-blockquote > cite {
  font-weight: 400;
  font-size: 1.4rem;
  display: block;
}
