// %btn-placeholder{} --- call it as ---  @extend %btn-placeholder;
%heading{
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 1.2;
}
%lead{
    font-family: var(--font-primary);
    font-weight: 300;
}