:root {
  // COLOR VARIABLES
  --color-primary: #55c57a;
  --color-primary-gradient: linear-gradient(to right, #7ed56f, #28b485);
  --color-secondary-gradient: linear-gradient(
    to right bottom,
    #ffb900,
    #ff7730
  );
  --color-tertiary-gradient: linear-gradient(to right bottom, #2998ff, #5643fa);

  --color-light: #fff;

  --color-dark: #000;
  --color-dark-1: #333;
  // FONT VARIABLES
  --font-primary: "Lato", sans-serif;
}
