:root {
  // COLOR VARIABLES
  --color-primary: #4400ff;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-light: #fff;
  --color-light-1: #f9f7f6;
  --color-light-2: #aaa;

  --color-dark: #000;
  --color-dark-1: #54483a;
  --color-dark-2: #6d5d4b;

  // FONT VARIABLES
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Josefin Sans", sans-serif;

  // Transition
  --transition-1: ease-in-out 0.2s;
  --transition-2: ease-in 0.3s;
  //border-bottom
  --line: 1px solid #f9f7f6;
}
